[run]
omit =
    */tests/*
    *__init__*
    */migrations/*
    ez_m3u8_creator/manage.py

[report]
omit =
    */tests/*
    *__init__*
    */migrations/*
    ez_m3u8_creator/manage.py
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    def main()
